<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login and Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        div{
            display:inline-block;
            margin-left: 20%;
    
        }
        
    </style>
</head>
<body>
    <h1>Login and Registration</h1>
    <br> 
    <div class = Register>
        <h3>Register</h3>
        {% with messages = get_flashed_messages() %}     
            {% if messages %}                           
                {% for message in messages %}            
                    <p class="text-danger">{{message}}</p>                   
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form action="/create" method="POST">
            <p> Name: <br> <input type="text" name="full_name"></p>
            <p>Username: <br> <input type="text" name="username"></p>
            <p>Password: <br> <input type="password" name="password"></p>
            <p>Confirm PW: <br> <input type="password" name="confirm"></p>
            <input type="submit" class="btn btn-success" value="Register">
        </form>   
    </div>
    <div class = login>
        <h3>Login</h3>
        <form action="/login" method="POST">
            <p>Username: <br> <input type="text" name="email"></p>
            <p>Password: <br> <input type="password" name="password"></p>
            <input type="submit" class="btn btn-success" value="Login!">
        </form>
    </div>
    
</body>
</html>